.menu {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: inline;
}

.title {
	color: #97accf;
	font-size: 30px;
}

.selection {
	background-color: #637899;
	padding-bottom: 0.5%;
	padding-left: 1%;
}
