.name {
	font-family: Georgia, serif;
	font-size: 22px;
	letter-spacing: 0px;
	word-spacing: 0.2px;
	color: #637899;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
}
