.name {
	font-family: Georgia, serif;
	font-size: 22px;
	letter-spacing: 0px;
	word-spacing: 0.2px;
	color: #637899;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
}

.monsterActive {
	animation: tilt-shaking 0.3s infinite;
}

@keyframes tilt-shaking {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(5deg);
	}
	50% {
		transform: rotate(0eg);
	}
	75% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
